<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html ng-app="store">
    <head >
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
        <link rel="stylesheet" href="styles/styles.css">
    </head>
    <body>
        <div ng-controller="StoreController as store">
            <ul class="list-group">
                <li class="list-group-item" ng-repeat="product in store.products">
                    <product-title></product-title>
                    <product-panels></product-panels>
                </li>
            </ul>    
        </div>
        <script src="bower_components/jquery/dist/jquery.min.js"></script>
        <script src="bower_components/angular/angular.min.js"></script>
        <script src="js/app.js"></script>
        <script src="js/product.js"></script>
    </body>
</html>
